@model List<Album>

<form asp-controller="Home" asp-action="FilterFavoriteAlbums">
    <p align="right">
        Filter by album name: <input type="text" name="filter">
        <input type="submit" value="Search" class="btn btn-success"/>
    </p>
</form>


<div class="fh5co-gallery">
@if (Model != null)
{
    foreach(Album a in Model)
    {
        <a asp-controller="ViewProfile" asp-action="ViewAlbumImages" asp-route-albumId=@a.AlbumId class="gallery-item">
            <img src="/Uploads/@a.Images[0].Path" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
            <span class="overlay">
                <h2>@a.Name</h2>
                <span>@a.Images.Count</span>
            </span>
        </a>
    }    
}
    